<%- include('../partials/header') %>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Skill</th>
            <th>Proficiency</th>
        </tr>
    </thead>
    <tbody>
        <!-- use flounders here since we dont want this to print to page -->
        <% skills.forEach(function(skill) { %> 
            <tr>
                <td>
                    <a href="/skills/<%=skill.id%>"><%= skill.skill %></a>
                </td>
                <td><%= skill.proficientcy %></td>
            </tr>
        <% }); %>
    </tbody>
</table>    
<a href="/skills/new">Add a Skill</a>
        
<%- include('../partials/footer') %>